@model List<Project6BookingWithRapidApi.ViewModels.HotelViewModel>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h2 class="text-center">Otel Sonuçları</h2>

<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Resim</th>
                <th>Otel Adı</th>
                <th>Puan</th>
                <th>Yorum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model)
            {
                <tr>
                    <td><img src="@hotel.PhotoUrl" alt="@hotel.Name" /></td>
                    <td>@hotel.Name</td>
                    <td>@hotel.ReviewScoreWord (@hotel.ReviewScore)</td>
                    <td>@hotel.ReviewCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
